header {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* логотип слева */
  position: relative;
  height: 60px;
  padding: 0 20px;
}

.logo {
  z-index: 1;
}

nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translate(-50%, -50%);
}

.nav-item-text {
    font-size: 0.875rem;
    cursor: pointer;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo-text {
  margin: 0;
  font-size: 1.875rem;
}