/* === HEADER LAYOUT === */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* логотип слева, меню справа */
  height: 48px;
  padding: 20px 0 80px 0;
  position: relative;
  width: 100%;
  max-width: 1500px;
}

/* Если навигация ДОЛЖНА быть по центру (как в фигме) */
.header-center {
  justify-content: center;
}


.logo-text {
  font-size: 30px;
  margin: 0;
  letter-spacing: -1.5px;
}

/* === NAVIGATION === */
nav {
  display: flex;
  justify-content: center;
  flex: 1; /* меню занимает центр */
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 27px;
  list-style: none;
  /* padding: 0; */
  padding: 20px 24px;
  margin: 0;
}

.nav-link {
  font-size: 14px;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.nav-link:hover {
  opacity: 0.7;
}
